<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MIT</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom_css.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse" style="margin-top: -50px;">
        <h1 style="color: white; margin-top: 3px; margin-left: 350px; margin-bottom: 0">Massachusetts Institute of Technology</h1>
    </div>
    <nav class="navbar navbar-inverse " style="margin-top: -24px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Department <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Department", "Save", "Department")</li>
                            <li>@Html.ActionLink("Show Departments", "ViewAllDepartment", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Course", "Save", "Course")</li>
                            <li>@Html.ActionLink("Course Statics", "CourseStatics", "Course")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teacher <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Teacher", "Save", "Teacher")</li>
                            <li>@Html.ActionLink("Course Assign to Teacher", "CourseAssignTeacher", "Course")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "Registration", "Student")</li>
                            <li>@Html.ActionLink("Enroll in Course", "Enroll", "CourseEnroll")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Result <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Student Result", "SaveResult", "CourseEnroll")</li>
                            <li>@Html.ActionLink("View Result", "ViewStudentResult", "CourseEnroll")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class Room <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Allocate Classroom", "Allocate", "ClassRoom")</li>
                            <li>@Html.ActionLink("View Class Schedule", "ViewClass", "ClassRoom")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unassign/Unallocate<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Unassign All Courses", "UnAssignCourse", "Course")</li>
                            <li>@Html.ActionLink("Unallocate All Classrooms", "UnallocateClassRoom", "ClassRoom")</li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - TMTechnology</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
@*@Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", required: false)
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>    
</body>
</html>
